
:root {
  --g6-blue: #1A3361;
  --g6-blue-light: #2A4F8F;
  --g6-blue-dark: #0F1E3A;
  --g6-gray-dark: #1A1F2C;
  --g6-gray: #8E9196;
  --g6-gray-light: #C8C8C9;
  --g6-white: #fff;
  --g6-accent: #E3B04B;
  --g6-accent-light: #F0C675;
}
